*.suo
LibraryAssistantApp/LibraryAssistantApp/bin/LibraryAssistantApp.dll
LibraryAssistantApp/LibraryAssistantApp/obj/Debug/LibraryAssistantApp.pdb
LibraryAssistantApp/.vs/LibraryAssistantApp/v14/.suo