@using LibraryAssistantApp.Models;

@{ 
    var campus = (Campus)ViewBag.Campus;
}

<form id="addBuildingForm" class="form-group">
    <table>
        <tr>
            <td><b>Campus Name:</b></td>
            <td style="padding-left:5px">@campus.Campus_Name</td>
        </tr>
        <tr>
            <td><b>Building Name:</b></td>
            <td style="padding-left:5px"><input type="text" class="form-control" name="buildingName" id="buildingName"/></td>
        </tr>
    </table>
</form>
<button class="btn btn-default" id="btnAddBuildingModal">Add Building</button>
<button class="btn btn-default" id="btnCancelModal">Cancel</button>
<hr />

<script src="~/Scripts/jquery.ambiance.js"></script>

<script type="text/javascript">

    //cancel button
    $("#btnCancelModal").click(function () {
        $('#myModal').modal('toggle');
    })

    //add lettersonly method
    jQuery.validator.addMethod("lettersonly", function (value, element) {
        return this.optional(element) || /^[a-z]+$/i.test(value);
    }, "Letters only please");

    //initiate validation
    $("#addBuildingForm").validate({
        rules: {
            buildingName: {
                required: true,
                maxlength: 30,
                remote: {
                    url: '/Venue/checkBuilding',
                    type: 'get'
                }

            }
        },

        messages: {
            buildingName: {
                remote: "Building already exists"
            }
        },

        errorClass: "my-error-class",
    })

    //add campus button
    $("#btnAddBuildingModal").click(function () {
        var check = $("#addBuildingForm").valid();

        if (check) {

            $.ajax({
                type: 'POST',
                url: '/Venue/addBuilding',
                data: { buildingName: $("#buildingName").val() },
                success: function (result) {

                    $('#myModal').modal('toggle');

                    $("#buildingTable tbody").empty();
                    $("#buildingTable thead").empty();

                    result.forEach(function (entry) {
                        $('#buildingTable tbody').append('<tr id="' + entry.id + '"><td>' + entry.name + '</td></tr>');
                    });

                    $.ambiance({
                        message: "Building Successfully Added!",
                        title: "Success!",
                        type: "success",
                        timeout: 5
                    });
                },
                error: function (err, result) {
                    alert("Error in assigning dataToSave" + err.responseText);
                }
            });

        }
    })
</script>
