@model LibraryAssistantApp.Models.Campus

<div id="addForm">
    <form id="addCampus">
        <label class="control-label">Campus Name</label>
        <input class="form-control" type="text"/>
    </form>
</div>
