<form id="addCampusForm" name="addCampusForm" class="form-group">
    <label class="control-label">Campus Name:</label>
    <input type="text" required id="campusName" name="campusName" class="form-control"/>
</form>
<button class="btn btn-default" id="btnAddCampusModal">Add Campus</button>
<button class="btn btn-default" id="btnCancelModal">Cancel</button>
<hr />

<script src="~/Scripts/jquery.ambiance.js"></script>

<script type="text/javascript">

    //cancel button
    $("#btnCancelModal").click(function () {
        $('#myModal').modal('toggle');
    })

    //validate form
    $("#addCampusForm").validate({
        rules: {
            campusName: {
                required: true,
                maxlength: 30,
                remote: {
                    url: "/Venue/checkCampus",
                    type: "get"
                }
            }
        },
        
        messages: {
            campusName: {
                remote: "Campus already exists"
            }
        },

        errorClass: "my-error-class",
    })

    //add campus button
    $("#btnAddCampusModal").click(function () {
        var check = $("#addCampusForm").valid();

        if (check) {
            
            $.ajax({
                type: 'POST',
                url: '/Venue/addCampus',
                data: { campus: $("#campusName").val() },
                success: function (result) {

                    $('#myModal').modal('toggle');

                    $("#campusTable tbody").empty();
                    $("#campusTable thead").empty();

                    result.forEach(function (entry) {
                        $('#campusTable tbody').append('<tr id="' + entry.id + '"><td>' + entry.name + '</td></tr>');
                    });

                    $.ambiance({
                        message: "Campus Successfully Added!",
                        title: "Success!",
                        type: "success",
                        timeout: 5
                    });
                },
                error: function (err, result) {
                    alert("Error in assigning dataToSave" + err.responseText);
                }
            });

        }
    })

</script>