@model LibraryAssistantApp.Models.Campus

<form id="deleteCampusForm" name="deleteCampusForm" class="form-group">
    <p>Are you sure you want to delete the <b>@Model.Campus_Name</b> campus?</p>
</form>
<button class="btn btn-primary" id="btnConfirmDelete">Yes</button>
<button class="btn btn-primary" id="btnCancelModal">Cancel</button>
<hr />

<script src="~/Scripts/jquery.ambiance.js"></script>

<script type="text/javascript">
    //cancel button
    $("#btnCancelModal").click(function () {
        $('#myModal').modal('toggle');
    })

    //confirm cancelation
    $("#btnConfirmDelete").on('click', function () {

        $.ajax({
            type: 'POST',
            url: '/Venue/confirmDelete',
            success: function (result) {

                if (result == "CLASH") {

                    //toggle modal
                    $('#myModal').modal('toggle');

                    //show error notification
                    $.ambiance({
                        message: "Campus Has Existing Dependencies!",
                        title: "Error!",
                        type: "error",
                        timeout: 5
                    });
                } else {

                    //toggle modal
                    $('#myModal').modal('toggle');

                    //remove entry from table
                    $("#campusTable tbody").empty();

                    if (!$.isArray(result) || !result.length) {
                        $("#campusTable tbody").empty();
                        $("#campusTable thead").append('<tr><th>No Campuses</th></tr>')
                    } else {
                        result.forEach(function (entry) {
                            $('#campusTable tbody').append('<tr id="' + entry.id + '"><td>' + entry.name + '</td></tr>');
                        });
                    }

                    //show notification
                    $.ambiance({
                        message: "Campus Successfully Deleted!",
                        title: "Success!",
                        type: "success",
                        timeout: 5
                    });

                    //disable buttons
                    $("#btnUpdateCampus").prop('disabled', true);
                    $("#btnDeleteCampus").prop('disabled', true);
                    $("#btnViewBuildings").prop('disabled', true)

                    //hide further divs
                    $("#buildings").hide(800);
                    $("#buildingFloors").hide(800);
                    $("#venues").hide(800);
                }
            },
            error: function (err, result) {
                alert("Error in assigning dataToSave" + err.responseText);
            }
        });

    })

</script>

