@model IEnumerable<LibraryAssistantApp.Models.Building>

@using LibraryAssistantApp.Models;

<div class="row col-md-12" id="buildings">
    <div id="buildingDetails"><span id="arrow" class="glyphicon glyphicon-triangle-bottom"></span><b id="campusSummary">Select A Building:</b></div>
    <hr />
    <div class="row" id="toggleBuildings">

        <div class="col-md-6">

            @if (Model.Any())
            {
            <label class="control-label">Results:</label>

            <div class="panel panel-default">
                <table class="table table-hover" id="buildingTable">
                    <tbody>
                        @foreach (Building building in Model)
                        {
                            <tr id="@building.Building_Name">
                                <td>
                                    @building.Building_Name
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
            else
            {
                <p>No Matching Buildings</p>
            }
        </div>

        <div class="col-md-3 col-md-offset-1">
            <div id="search" style="padding-bottom:10px">
                <input id="searchBuilding" type="text" placeholder="Search Building" /><button id="btnSearchBuilding">
                    <span class="fa fa-search" />
                </button>
            </div>

            <div style="padding-bottom:5px; width:80%">
                <button class="btn btn-default btn-block" id="btnAddBuilding" data-toggle="modal" data-target="#myModal">Add Building</button>
            </div>

            <div style="padding-bottom:5px; width:80%">
                <button class="btn btn-default btn-block" style="padding-bottom:10px" disabled id="btnUpdateBuilding">Update Building</button>
            </div>

            <div style="padding-bottom:5px; width:80%">
                <button class="btn btn-default btn-block" style="padding-bottom:10px" disabled id="btnDeleteBuilding">Delete Building</button>
            </div>

            <div style="padding-bottom:5px; width:80%">
                <button class="btn btn-default btn-block" style="padding-bottom:10px" disabled id="btnViewBuildingFloors">View Building Floors</button>
            </div>
        </div>

    </div>

</div>

