@using LibraryAssistantApp.Models;
@model IEnumerable<LibraryAssistantApp.Models.Building_Floor>

<div id="buildingFloors">
    <div id="buildingFloorDetails" class="bg-info shaded cursor"><span id="arrow" class="glyphicon glyphicon-triangle-bottom"></span><b id="buildingFloorSummary">Select Building Floor:</b></div>
    <hr />
    <div class="row" id="toggleBuildingFloors">

        <div class="col-md-6">

            @if (Model.Any())
            {
                <label id="floorResults" class="control-label">Results:</label>

                <div class="panel panel-default">
                    <table class="table table-hover" id="buildingFloorTable">
                        <thead></thead>
                        <tbody>
                            @foreach (Building_Floor building_floor in Model)
                            {
                                <tr id="@building_floor.Building_Floor_ID" title="Select floor.">
                                    <td>
                                        @building_floor.Floor_Name
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {

                <label id="floorResults" class="control-label">Results:</label>

                <div class="panel panel-default">
                    <table class="table table-hover" id="buildingFloorTable">
                        <thead>
                            <tr>
                                <th>
                                    No Matching Building Floors
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            }
        </div>

        <div class="col-md-3 col-md-offset-1">
            <div id="search" style="padding-bottom:10px">
                <input id="searchBuildingFloor" type="text" placeholder="Search Building Floors" title="Enter search criteria." /><button id="btnSearchBuildingFloors" title="Filter campus by search criteria.">
                    <span class="fa fa-search" />
                </button>
            </div>

            <div style="padding-bottom:5px; width:80%">
                <button class="btn btn-primary btn-block" id="btnAddBuildingFloor" data-toggle="modal" data-target="#myModal">Add Building Floor</button>
            </div>

            <div style="padding-bottom:5px; width:80%">
                <button class="btn btn-primary btn-block" style="padding-bottom:10px" disabled id="btnUpdateBuildingFloor" title="Update seleceted floor.">Update Building Floor</button>
            </div>

            <div style="padding-bottom:5px; width:80%">
                <button class="btn btn-primary btn-block" style="padding-bottom:10px" disabled id="btnDeleteBuildingFloor" title="Delete seleceted floor.">Delete Building Floor</button>
            </div>

            <div style="padding-bottom:5px; width:80%">
                <button class="btn btn-primary btn-block" style="padding-bottom:10px" disabled id="btnViewVenues" title="View buildings related to the selected floor.">View Venues</button>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    
    //add building floor modal
    $("#btnAddBuildingFloor").click(function () {
        var target = '/Venue/addBuildingFloor'

        $("#myModal .modal-body").load(target, function () {
            $("#myModal").modal("show");
        });
    })

    //delete building floor modals
    $("#btnDeleteBuildingFloor").click(function () {
        var target = '/Venue/deleteFloor/?id=' + $("#buildingFloorTable tbody tr.alert-info").prop('id');

        $("#myModal .modal-body").load(target, function () {
            $("#myModal").modal("show");
        });
    })

    //update building floor modals
    $("#btnUpdateBuildingFloor").click(function () {
        var target = '/Venue/updateFloor/?id=' + $("#buildingFloorTable tbody tr.alert-info").prop('id');

        $("#myModal .modal-body").load(target, function () {
            $("#myModal").modal("show");
        });
    })

    //show venues for selected building floor
    $("#btnViewVenues").click(function () {
        var target = '/Venue/getVenues/?id=' + $("#buildingFloorTable tbody tr.alert-info").prop('id');
        $("#venues").load(target);
        $("#venues").show();
        $("#toggleBuildingFloors").hide(800);
        $("#buildingFloorSummary").text("Select Building: " + $("#buildingFloorTable tbody tr.alert-info").find('td:eq(0)').text());
    })

    //toggle tab
    $("#buildingFloorDetails").click(function () {
        toggleArrow("#toggleBuildingFloors", "#buildingFloorDetails span");
    });

    //search floors
    $("#btnSearchBuildingFloors").click(function () {
        $.ajax({
            type: 'GET',
            url: '/Venue/searchFloor',
            data: { search: $("#searchBuildingFloor").val() },
            success: function (result) {

                $("#buildingFloorTable tbody").empty();
                $("#buildingFloorTable thead").empty();

                if (!$.isArray(result) || !result.length) {
                    $("#buildingFloorTable tbody").empty();
                    $("#buildingFloorTable thead").append('<tr><th>No Matching Building Floors</th></tr>')
                    $("#floorResults").text("Results: '" + $("#searchBuildingFloor").val() + "'");
                    $("#searchBuildingFloor").val('');
                } else {
                    $("#floorResults").text("Results: '" + $("#searchBuildingFloor").val() + "'");
                    $("#searchBuildingFloor").val('');
                    result.forEach(function (entry) {
                        $('#buildingFloorTable tbody').append('<tr id="' + entry.id + '"><td>' + entry.name + '</td></tr>');
                    });
                }
            },
            error: function (err, result) {
                alert("Error in assigning dataToSave" + err.responseText);
            }
        });
    })

</script>

