@model IEnumerable<LibraryAssistantApp.Models.Building>

@using LibraryAssistantApp.Models;

<div id="buildings">
    <div id="buildingDetails" class="bg-info shaded cursor"><span id="arrow" class="glyphicon glyphicon-triangle-bottom"></span><b id="buildingSummary">Select Building:</b></div>
    <hr />
    <div class="row" id="toggleBuildings">

        <div class="col-md-6">

            @if (Model.Any())
            {
            <label id="buildingResults" class="control-label">Results:</label>

            <div class="panel panel-default">
                <table class="table table-hover" id="buildingTable">
                    <thead></thead>
                    <tbody>
                        @foreach (Building building in Model)
                        {
                            <tr id="@building.Building_ID" title="Select building.">
                                <td>
                                    @building.Building_Name
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
            else
            {
                <label id="buildingResults" class="control-label">Results:</label>

                <div class="panel panel-default">
                    <table class="table table-hover" id="buildingTable">
                        <thead>
                            <tr>
                                <th>
                                    No Matching Buildings
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            }
        </div>

        <div class="col-md-3 col-md-offset-1">
            <div id="search" style="padding-bottom:10px">
                <input id="searchBuilding" type="text" placeholder="Search Building" title="Enter search criteria"/><button id="btnSearchBuilding" title="Filter campus by search criteria.">
                    <span class="fa fa-search" />
                </button>
            </div>

            <div style="padding-bottom:5px; width:80%">
                <button class="btn btn-primary btn-block" id="btnAddBuilding" data-toggle="modal" data-target="#myModal">Add Building</button>
            </div>

            <div style="padding-bottom:5px; width:80%">
                <button class="btn btn-primary btn-block" style="padding-bottom:10px" disabled id="btnUpdateBuilding" title="Update seleceted building.">Update Building</button>
            </div>

            <div style="padding-bottom:5px; width:80%">
                <button class="btn btn-primary btn-block" style="padding-bottom:10px" disabled id="btnDeleteBuilding" title="Delete seleceted building.">Delete Building</button>
            </div>

            <div style="padding-bottom:5px; width:80%">
                <button class="btn btn-primary btn-block" style="padding-bottom:10px" disabled id="btnViewBuildingFloors" title="View buildings related to the selected building.">View Building Floors</button>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">

    //toggle tab
    $("#buildingDetails").click(function () {
        toggleArrow("#toggleBuildings", "#buildingDetails span");
    });

    //add a building modal
    $("#btnAddBuilding").click(function () {
        var target = '/Venue/addBuilding'

        $("#myModal .modal-body").load(target, function () {
            $("#myModal").modal("show");
        });
    })

    //delete a building modal
    $("#btnDeleteBuilding").click(function () {
        var target = '/Venue/deleteBuilding/?id=' + $("#buildingTable tbody tr.alert-info").prop('id')

        $("#myModal .modal-body").load(target, function () {
            $("#myModal").modal("show");
        });
    })

    //update a building modal
    $("#btnUpdateBuilding").click(function () {
        var target = '/Venue/updateBuilding/?id=' + $("#buildingTable tbody tr.alert-info").prop('id')

        $("#myModal .modal-body").load(target, function () {
            $("#myModal").modal("show");
        });
    })

    //show building floors for selected building
    $("#btnViewBuildingFloors").click(function () {
        var target = '/Venue/getBuildingFloors/?id=' + $("#buildingTable tbody tr.alert-info").prop('id');
        $("#buildingFloors").load(target);
        $("#buildingFloors").show();
        $("#toggleBuildings").hide(800);
        $("#buildingSummary").text("Select Building: " + $("#buildingTable tbody tr.alert-info").find('td:eq(0)').text());
        $("#venues").hide();
    })

    //search buildings
    $("#btnSearchBuilding").click(function () {
        $.ajax({
            type: 'GET',
            url: '/Venue/searchBuilding',
            data: { search: $("#searchBuilding").val() },
            success: function (result) {

                $("#buildingTable tbody").empty();
                $("#buildingTable thead").empty();

                if (!$.isArray(result) || !result.length) {
                    $("#buildingTable tbody").empty();
                    $("#buildingTable thead").append('<tr><th>No Matching Buildings</th></tr>')
                    $("#buildingResults").text("Results: '" + $("#searchBuilding").val() + "'");
                    $("#searchBuilding").val('');
                } else {
                    $("#buildingResults").text("Results: '" + $("#searchBuilding").val() + "'");
                    $("#searchBuilding").val('');
                    result.forEach(function (entry) {
                        $('#buildingTable tbody').append('<tr id="' + entry.id + '"><td>' + entry.name + '</td></tr>');
                    });
                }
            },
            error: function (err, result) {
                alert("Error in assigning dataToSave" + err.responseText);
            }
        });
    })

</script>
