@using LibraryAssistantApp.Models;
@model IEnumerable<LibraryAssistantApp.Models.Venue>

<div id="venues">
    <div id="venueDetails"><span id="arrow" class="glyphicon glyphicon-triangle-bottom"></span><b id="buildingFloorSummary">Select Venue:</b></div>
    <hr />
    <div class="row" id="toggleVenue">

        <div class="col-md-6">

            @if (Model.Any())
            {
                <label id="venueResults" class="control-label">Results:</label>

                <div class="panel panel-default">
                    <table class="table table-hover" id="venueTable">
                        <thead>
                            <tr>
                                <th>Venue Name</th>
                                <th>Type</th>
                                <th>Capacity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Venue venue in Model)
                            {
                                <tr id="@venue.Venue_ID">
                                    <td>
                                        @venue.Venue_Name
                                    </td>
                                    <td>
                                        @venue.Venue_Type
                                    </td>
                                    <td>
                                        @venue.Capacity
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <label id="venueResults" class="control-label">Results:</label>

                <div class="panel panel-default">
                    <table class="table table-hover" id="venueTable">
                        <thead>
                            <tr>
                                <th>
                                    No Matching Venues
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            }
        </div>

        <div class="col-md-3 col-md-offset-1">
            <div id="search" style="padding-bottom:10px">
                <input id="searchVenue" type="text" placeholder="Search Venues" /><button id="btnSearchVenues">
                    <span class="fa fa-search" />
                </button>
            </div>

            <div style="padding-bottom:5px; width:80%">
                <button class="btn btn-default btn-block" id="btnAddVenue" data-toggle="modal" data-target="#myModal">Add Venue</button>
            </div>

            <div style="padding-bottom:5px; width:80%">
                <button class="btn btn-default btn-block" style="padding-bottom:10px" disabled id="btnUpdateVenue">Update Venue</button>
            </div>

            <div style="padding-bottom:5px; width:80%">
                <button class="btn btn-default btn-block" style="padding-bottom:10px" disabled id="btnDeleteVenue">Delete Venue</button>
            </div>

            <div style="padding-bottom:5px; width:80%">
                <button class="btn btn-default btn-block" style="padding-bottom:10px" id="btnAddCharacteristicVenue">Add Characteristic</button>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    //add venue modal
    $("#btnAddVenue").click(function () {
        var target = '/Venue/addVenue'

        $("#myModal .modal-body").load(target, function () {
            $("#myModal").modal("show");
        });
    })

    //delete a venue modal
    $("#btnDeleteVenue").click(function () {
        var target = '/Venue/deleteVenue/?id=' + $("#venueTable tbody tr.alert-info").prop('id')

        $("#myModal .modal-body").load(target, function () {
            $("#myModal").modal("show");
        });
    })

    //update a venue modal
    $("#btnUpdateVenue").click(function () {
        var target = '/Venue/updateVenue/?id=' + $("#venueTable tbody tr.alert-info").prop('id')

        $("#myModal .modal-body").load(target, function () {
            $("#myModal").modal("show");
        });
    })

    //add characteristic
    $("#btnAddCharacteristicVenue").click(function () {
        var target = '/Venue/addVenueCharacteristic';

        $("#myModal .modal-body").load(target, function () {
            $("#myModal").modal("show");
        });
    })

    //search venues
    $("#btnSearchVenues").click(function () {
        $.ajax({
            type: 'GET',
            url: '/Venue/searchVenue',
            data: { search: $("#searchVenue").val() },
            success: function (result) {

                $("#venueTable tbody").empty();
                $("#venueTable thead").empty();

                if (!$.isArray(result) || !result.length) {
                    $("#venueTable tbody").empty();
                    $("#venueTable thead").append('<tr><th>No Matching Building Floors</th></tr>')
                    $("#venueResults").text("Results: '" + $("#searchVenue").val() + "'");
                    $("#searchVenue").val('');
                } else {
                    $("#venueResults").text("Results: '" + $("#searchVenue").val() + "'");
                    $("#searchVenue").val('');
                    $("#venueTable thead").append('<tr><th>Venue Name</th><th>Type</th><th>Capacity</th></tr>')
                    result.forEach(function (entry) {
                        $('#venueTable tbody').append('<tr id="' + entry.id + '"><td>' + entry.name + '</td><td>' + entry.vtype + '</td><td>' + entry.vcapacity + '</tr>');
                    });
                }
            },
            error: function (err, result) {
                alert("Error in assigning dataToSave" + err.responseText);
            }
        });
    })
</script>
