@using LibraryAssistantApp.Models;

@{
    ViewBag.Title = "Report A Problem";
    if (this.User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (this.User.IsInRole("Employee") || this.User.IsInRole("Trainer"))
    {
        Layout = "~/Views/Shared/_LayoutEmp.cshtml";
    }
    else if (this.User.IsInRole("Student"))
    {
        Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutBlank.cshtml";
    }
    var campuses = (IEnumerable<Campus>)ViewBag.Campuses;
}

<h2 id="title">Report Venue Problem</h2>
<hr />
<h4 class="bg-info shaded">Provide venue problem details below:</h4>

<div class="row thanks">
    <div class="col-md-12">
        <p class="text-muted"><b>Instructions:</b></p>
        <ul class="text-muted" style="padding-bottom:10px">
            <li>Select the venue you would like to report a problem for.</li>
            <li>Describe the problem you have experienced.</li>
            <li>Submit your venue problem and we shall work on fixing it.</li>
        </ul>
        <h4 class="bg-warning shaded">Select a venue:</h4>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group col-md-3">
                    <label>Campus:</label>
                    <select class="form-control" id="problemCampus">
                        <option disabled selected value> -- select a campus -- </option>
                        @foreach (var campus in campuses)
                        {
                            <option id="@campus.Campus_ID">@campus.Campus_Name</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Building:</label>
                    <select class="form-control" id="problemBuilding" disabled="disabled"></select>
                </div>
                <div class="form-group col-md-3">
                    <label>Level:</label>
                    <select class="form-control" disabled="disabled" id="problemFloor"></select>
                </div>
                <div class="form-group col-md-3">
                    <label>Venue:</label>
                    <select class="form-control" disabled="disabled" id="problemVenue"></select>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary" id="problemSubmitVenue" disabled="disabled">Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="problemDesc" disabled="disabled" class="row thanks" hidden>
    <div class="col-md-12">
        <h4 class="bg-warning shaded">Problem description:</h4>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Select Common Problem Type</label>
                        <select id="commonType" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Select A Common Problem</label>
                        <select id="commonProblem"class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Comment (Optional)</label>
                    <textarea class="form-control" style="width:100%" id="problemComment"></textarea>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" id="btnSubmitProblem" disabled>Submit Problem</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
        //get buildings
        $("#problemCampus").change(function () {
            
            var id = $(this).children(":selected").attr("id");

            //load building select
            $.ajax({
                url: '/Venue/getCamBuildings',
                data: {id: id},
                type: 'GET',
                success: function (result) {
                    var buildings = $("#problemBuilding");
                    
                    //enable building select
                    buildings.prop('disabled', false);

                    //empty building select
                    buildings.empty();

                    //load options for building select
                    buildings.append($("<option disabled selected value />").text("-- select a building --"));

                    //load options for select
                    result.forEach(function (entry) {
                        buildings.append($("<option />").prop('id', entry.id).text(entry.text));
                    });

                    //disable floor and venue selects
                    $("#problemFloor").prop('disabled', true);
                    $("#problemVenue").prop('disabled', true);

                    //empty floor and venue selects
                    $("#problemFloor").empty();
                    $("#problemVenue").empty();

                    //enable div
                    $("#problemDesc").prop('disabled', true),
                    //show div
                    $("#problemDesc").hide(800);

                    //disable submit button
                    $("#problemSubmitVenue").prop('disabled', true);
                }
            })
        })

        //get floors
        $("#problemBuilding").change(function () {

            var id = $(this).children(":selected").attr("id");

            //load floor select
            $.ajax({
                url: '/Venue/getBuildFloors',
                data: { id: id },
                type: 'GET',
                success: function (result) {
                    var floors = $("#problemFloor");

                    //enable floor select
                    floors.prop('disabled', false);

                    //empty floor select
                    floors.empty();

                    //load options for floor select
                    floors.append($("<option disabled selected value />").text("-- select a floor --"));

                    //load options for select
                    result.forEach(function (entry) {
                        floors.append($("<option />").prop('id', entry.id).text(entry.text));
                    });

                    //disable venue select
                    $("#problemVenue").prop('disabled', true);

                    //empty venue select
                    $("#problemVenue").empty();

                    //enable div
                    $("#problemDesc").prop('disabled', true),
                    //show div
                    $("#problemDesc").hide(800);

                    //disable submit button
                    $("#problemSubmitVenue").prop('disabled', true);
                }
            })
        })

        //get venues
        $("#problemFloor").change(function () {

            var id = $(this).children(":selected").attr("id");

            //load floor select
            $.ajax({
                url: '/Venue/getFloorVenues',
                data: { id: id },
                type: 'GET',
                success: function (result) {
                    var venues = $("#problemVenue");

                    //enable floor select
                    venues.prop('disabled', false);

                    //empty floor select
                    venues.empty();

                    //load options for floor select
                    venues.append($("<option disabled selected value />").text("-- select a venue --"));

                    //load options for select
                    result.forEach(function (entry) {
                        venues.append($("<option />").prop('id', entry.id).text(entry.text));
                    });

                    //enable div
                    $("#problemDesc").prop('disabled', true),
                    //show div
                    $("#problemDesc").hide(800);

                    //disable submit button
                    $("#problemSubmitVenue").prop('disabled', true);
                }
            })
        })

        //capture venue selection
        $("#problemVenue").change(function () {
            //enable venue submit button
            $("#problemSubmitVenue").prop('disabled', false);
        })

        //show problem description div
        $("#problemSubmitVenue").click(function () {
            //enable div
            $("#problemDesc").prop('disabled', false),
            //show div
            $("#problemDesc").show(800);

            //get common problem types
            $.ajax({
                url: '/Venue/getProblemTypes',
                type: 'GET',
                success: function (result) {
                    var types = $("#commonType");

                    //enable floor select
                    types.prop('disabled', false);

                    //empty floor select
                    types.empty();

                    //load options for floor select
                    types.append($("<option disabled selected value />").text("-- select a problem type --"));

                    //load options for select
                    result.forEach(function (entry) {
                        types.append($("<option />").prop('id', entry.id).text(entry.name));
                    });

                    //disable venue select
                    $("#commonProblem").prop('disabled', true);
                    $("#problemComment").prop('disabled', true);

                    //empty venue select
                    $("#commonProblem").empty();
                    $("#problemComment").empty();

                    //disable submit button
                    $("#btnSubmitProblem").prop('disbaled', true);
                }
            })
        })

        //get problems for problem type
        $("#commonType").change(function () {
            var id = $(this).children(":selected").attr("id");

            //load problems select
            $.ajax({
                url: '/Venue/getProblems',
                data: { id: id },
                type: 'GET',
                success: function (result) {
                    var problems = $("#commonProblem");

                    //enable problem select
                    problems.prop('disabled', false);

                    //empty problem select
                    problems.empty();

                    //load options for problem select
                    problems.append($("<option disabled selected value />").text("-- select a problem --"));

                    //load options for select
                    result.forEach(function (entry) {
                        problems.append($("<option />").prop('id', entry.id).text(entry.name));
                    });

                    //enable comments
                    $("#problemComment").prop('disabled', false),

                    //enable submit button
                    $("#problemSubmitVenue").prop('disbaled', false);
                }
            })
        })

        //capture problem selection
        $("#commonProblem").change(function () {
            $("#btnSubmitProblem").prop('disabled', false);
        })

        //submit venue problem
        $("#btnSubmitProblem").click(function () {
            $.ajax({
                url: '/Venue/captureProblem',
                type: 'POST',
                data: { venue: $("#problemVenue").children(":selected").attr("id"), problem: $("#commonProblem").children(":selected").attr("id"), comment: $("#problemComment").val() },
                success: function () {
                    //show notification
                    $.ambiance({
                        message: "Problem Reported!",
                        title: "Success!",
                        type: "success",
                        timeout: 5
                    });

                    $(".thanks").hide();
                    $("#title").empty().append("Thank You For Reporting Your Problem")
                }
            })
        })
    });
</script>


