@using LibraryAssistantApp.Models;

@model LibraryAssistantApp.Models.Building

@{ 
    var campuses = (IEnumerable<Campus>)ViewBag.Campuses;
}

<form id="updateBuildingForm" name="updateBuildingForm" class="form-group">
    <table>
        <tr>
            <td><b>Campus:</b></td>
            <td style="padding-left:5px;padding-bottom:5px">
                <select id="updateBuildingCampusSelect" class="form-control">
                    @foreach (var campus in campuses)
                    {
                        <option id="@campus.Campus_ID">@campus.Campus_Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td><b>Building Name:</b></td>
            <td style="padding-left:5px">@Html.EditorFor(model => model.Building_Name, new { htmlAttributes = new { @class = "form-control", @id = "buildingName" } })</td>
        </tr>
    </table>
</form>
<button class="btn btn-default" id="btnConfirmBuildingUpdate">Update Building</button>
<button class="btn btn-default" id="btnCancelModal">Cancel</button>
<hr />

<script src="~/Scripts/jquery.ambiance.js"></script>

<script type="text/javascript">

    //cancel button
    $("#btnCancelModal").click(function () {
        $('#myModal').modal('toggle');
    })

    //set default value of campus select
    var element = '#' + @Model.Campus_ID;
    $(element).attr("selected", true);

    //initiate validation
    $("#updateBuildingForm").validate({
        rules: {
            Building_Name: {
                required: true,
                maxlength: 30,
                remote: {
                    url: '/Venue/checkUpdateBuilding',
                    type: 'get'
                }
            }
        },

        messages: {
            Building_Name: {
                remote: "Building already exists"
            }
        },

        errorClass: "my-error-class",
    })

    //confirm update
    $("#btnConfirmBuildingUpdate").click(function() {
        var check = $("#updateBuildingForm").valid();

        if (check) {
            $.ajax({
                type: 'POST',
                url: '/Venue/updateBuilding',
                data: { buildingName: $("#buildingName").val(), campusID: $("#updateBuildingCampusSelect").children(":selected").attr("id") },
                success: function (result) {
                    $('#myModal').modal('toggle');

                    $("#buildingTable tbody").empty();

                    if( !$.isArray(result) ||  !result.length ) {
                        $("#buildingTable tbody").empty();
                        $("#buildingTable thead").append('<tr><th>No Matching Buildings</th></tr>')
                    } else {
                        result.forEach(function (entry) {
                            $('#buildingTable tbody').append('<tr id="' + entry.id + '"><td>' + entry.name + '</td></tr>');
                        });
                    }

                    //disable buttons
                    $("#btnUpdateBuilding").prop('disabled', true);
                    $("#btnDeleteBuilding").prop('disabled', true);
                    $("#btnViewBuildingFloors").prop('disabled', true)

                    $.ambiance({
                        message: "Building Successfully Updated!",
                        title: "Success!",
                        type: "success",
                        timeout: 5
                    });

                    //hide further divs
                    $("#buildingFloors").hide(800);
                    $("#venues").hide(800);
                },
                error: function (err, result) {
                    alert("Error in assigning dataToSave" + err.responseText);
                }
            });
        }
    })
</script>