@using LibraryAssistantApp.Models

@{
    ViewBag.Title = "Venue Maintainence";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var campuses = (IEnumerable<Campus>)ViewBag.Campuses;
}

<h2>Venue Maintainance</h2>

<hr class="col-md-12" />

<div class="col-md-12">
    <div class="row">
        <div id="campusDetails"><span id="arrow" class="glyphicon glyphicon-triangle-bottom"></span><b id="campusSummary">Select Campus:</b></div>
        <hr />
        <div class="row" id="toggleCampus">

            

            <div class="col-md-6">

                <label class="control-label">Results:</label>

                <div class="panel panel-default">
                    <table class="table table-hover" id="campusTable">
                        <tbody>
                            @foreach (Campus campus in campuses)
                            {
                                <tr id="@campus.Campus_Name">
                                    <td>
                                        @campus.Campus_Name
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-1">
                <div id="search" style="padding-bottom:10px">
                    <input id="searchCampus" type="text" placeholder="Search Campus" /><button id="btnSearchCampus">
                        <span class="fa fa-search" />
                    </button>
                </div>

                <div style="padding-bottom:5px; width:80%">
                    <button class="btn btn-default btn-block" id="btnAddCampus" data-toggle="modal" data-target="#myModal">Add Campus</button>
                </div>

                <div style="padding-bottom:5px; width:80%">
                    <button class="btn btn-default btn-block" style="padding-bottom:10px" disabled id="btnUpdateCampus">Update Campus</button>
                </div>

                <div style="padding-bottom:5px; width:80%">
                    <button class="btn btn-default btn-block" style="padding-bottom:10px" disabled id="btnDeleteCampus">Delete Campus</button>
                </div>

                <div style="padding-bottom:5px; width:80%">
                    <button class="btn btn-default btn-block" style="padding-bottom:10px" disabled id="btnViewBuildings">View Buildings</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row" id="buildings" hidden></div>

    <div class="row" id="buildingFloors" hidden></div>

    <div class="row" id="venues" hidden></div>

    <hr />
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <hr />
            <div class="modal-body">

            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    //toggle arrow and div
    function toggleArrow(div, span) {
        $(div).toggle(800);
        if ($(span).hasClass("glyphicon glyphicon-triangle-right")) {
            $(span).removeClass("glyphicon glyphicon-triangle-right");
            $(span).addClass("glyphicon glyphicon-triangle-bottom");
        } else {
            $(span).removeClass("glyphicon glyphicon-triangle-bottom");
            $(span).addClass("glyphicon glyphicon-triangle-right");
        }
    }

    $(document).ready(function () {

        //toggle tab
        $("#campusDetails").click(function () {
            toggleArrow("#toggleCampus", "#campusDetails span");
        })

        //select campus from table and enable/disable buttons
        $(document).on("click", "#campusTable tbody tr", function (e) {

            var selected = $(this).hasClass("alert-info");
            $("#campusTable tbody tr").removeClass("alert-info");
            $("#btnUpdateCampus").prop('disabled', true);
            $("#btnDeleteCampus").prop('disabled', true);
            $("#btnViewBuildings").prop('disabled', true)

            if (!selected) {
                $(this).addClass("alert-info");
                $("#btnUpdateCampus").prop('disabled', false);
                $("#btnDeleteCampus").prop('disabled', false);
                $("#btnViewBuildings").prop('disabled', false);
            }
        })

        //view buildings relating to selected campus
        $("#btnViewBuildings").click(function () {
            var target = '/Venue/getBuildings/?campusName=' + $("#campusTable tbody tr.alert-info").prop('id');
            $("#buildings").load(target);
            $("#buildings").show();
            $("#toggleCampus").hide(800);
            $("#campusSummary").text("Select Campus: " + $("#campusTable tbody tr.alert-info").prop('id'));
        })

        //add campus modal
        $('#btnAddCampus').on('click', function () {
            var target = '/Venue/addCampus'

            $("#myModal .modal-body").load(target, function () {
                $("#myModal").modal("show");
            });
        });

        //delete campus modal
        $("#btnDeleteCampus").on('click', function () {

            var target = '/Venue/deleteCampus/?campusName=' + $("#campusTable tbody tr.alert-info").prop('id');

            $("#myModal .modal-body").load(target, function () {
                $("#myModal").modal("show");
            });
        })

        //cancel modal
        $("#btnCancel").click(function () {
            $('#myModal').modal('toggle');
        })

        //update campus 
        $("#btnUpdateCampus").on('click', function () {
            var target = '/Venue/updateCampus/?campusName=' + $("#campusTable tbody tr.alert-info").prop('id');

            $("#myModal .modal-body").load(target, function () {
                $("#myModal").modal("show");
            });
        })

        //select building from table and enable/disable buttons
        $(document).on("click", "#buildingTable tbody tr", function (e) {

            var selected = $(this).hasClass("alert-info");
            $("#buildingTable tbody tr").removeClass("alert-info");
            $("#btnUpdateBuilding").prop('disabled', true);
            $("#btnDeleteBuilding").prop('disabled', true);
            $("#btnViewBuildingFloors").prop('disabled', true)

            if (!selected) {
                $(this).addClass("alert-info");
                $("#btnUpdateBuilding").prop('disabled', false);
                $("#btnDeleteBuilding").prop('disabled', false);
                $("#btnViewBuildingFloors").prop('disabled', false);
            }
        })

        //select building from table and enable/disable buttons
        $(document).on("click", "#buildingFloorTable tbody tr", function (e) {

            var selected = $(this).hasClass("alert-info");
            $("#buildingFloorTable tbody tr").removeClass("alert-info");
            $("#btnUpdateBuildingFloor").prop('disabled', true);
            $("#btnDeleteBuildingFloor").prop('disabled', true);
            $("#btnViewVenues").prop('disabled', true)

            if (!selected) {
                $(this).addClass("alert-info");
                $("#btnUpdateBuildingFloor").prop('disabled', false);
                $("#btnDeleteBuildingFloor").prop('disabled', false);
                $("#btnViewVenues").prop('disabled', false);
            }
        })
    })
</script>