@using LibraryAssistantApp.Models

@{
    ViewBag.Title = "Venue Maintainence";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var campuses = (IEnumerable<Campus>)ViewBag.Campuses;
}
<a href="/help/venue.pdf" title="Page Help"><div class="btn-help"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span></div></a>
<h2>Venue Maintainance</h2>
<hr class="col-md-12" />

<div class="col-md-12">
    <div class="row">
        <div id="campusDetails" class="bg-info shaded cursor"><span id="arrow" class="glyphicon glyphicon-triangle-bottom"></span><b id="campusSummary">Select Campus:</b></div>
        <hr />
        <div class="row" id="toggleCampus">

            

            <div class="col-md-6">

                @if (campuses.Any())
            {
                    <label class="control-label" id="campusResults">Results:</label>

                    <div class="panel panel-default">
                        <table class="table table-hover" id="campusTable">
                            <thead></thead>
                            <tbody>
                                @foreach (Campus campus in campuses)
                                {
                                    <tr id="@campus.Campus_ID" title="Select campus.">
                                        <td>
                                            @campus.Campus_Name
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <label class="control-label" id="campusResults">Results:</label>

                    <div class="panel panel-default">
                        <table class="table table-hover" id="campusTable">
                            <thead>
                                <tr>
                                    <th>
                                        No Campuses
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                }
            </div>

            <div class="col-md-3 col-md-offset-1">
                <div id="search" style="padding-bottom:10px">
                    <input id="searchCampus" type="text" placeholder="Search Campus" title="Enter search criteria"/><button id="btnSearchCampus" title="Filter campus by search criteria.">
                        <span class="fa fa-search" />
                    </button>
                </div>

                <div style="padding-bottom:5px; width:80%">
                    <button class="btn btn-primary btn-block" id="btnAddCampus" data-toggle="modal" data-target="#myModal">Add Campus</button>
                </div>

                <div style="padding-bottom:5px; width:80%">
                    <button class="btn btn-primary btn-block" style="padding-bottom:10px" disabled id="btnUpdateCampus" title="Update seleceted campus.">Update Campus</button>
                </div>

                <div style="padding-bottom:5px; width:80%">
                    <button class="btn btn-primary btn-block" style="padding-bottom:10px" disabled id="btnDeleteCampus" title="Delete seleceted campus.">Delete Campus</button>
                </div>

                <div style="padding-bottom:5px; width:80%">
                    <button class="btn btn-primary btn-block" style="padding-bottom:10px" disabled id="btnViewBuildings" title="View buildings related to the selected campus.">View Buildings</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row" id="buildings" hidden></div>

    <div class="row" id="buildingFloors" hidden></div>

    <div class="row" id="venues" hidden></div>

    <hr />
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <hr />
            <div class="modal-body">

            </div>
        </div>

    </div>
</div>

<div id="loading" style="width:100%; height:100%"></div>

<script type="text/javascript">
    //toggle arrow and div
    function toggleArrow(div, span) {
        $(div).toggle(800);
        if ($(span).hasClass("glyphicon glyphicon-triangle-right")) {
            $(span).removeClass("glyphicon glyphicon-triangle-right");
            $(span).addClass("glyphicon glyphicon-triangle-bottom");
        } else {
            $(span).removeClass("glyphicon glyphicon-triangle-bottom");
            $(span).addClass("glyphicon glyphicon-triangle-right");
        }
    }

    $(document).ready(function () {

        //toggle tab
        $("#campusDetails").click(function () {
            toggleArrow("#toggleCampus", "#campusDetails span");
        })

        //select campus from table and enable/disable buttons
        $(document).on("click", "#campusTable tbody tr", function (e) {

            var selected = $(this).hasClass("alert-info");
            $("#campusTable tbody tr").removeClass("alert-info");
            $("#btnUpdateCampus").prop('disabled', true);
            $("#btnDeleteCampus").prop('disabled', true);
            $("#btnViewBuildings").prop('disabled', true)

            if (!selected) {
                $(this).addClass("alert-info");
                $("#btnUpdateCampus").prop('disabled', false);
                $("#btnDeleteCampus").prop('disabled', false);
                $("#btnViewBuildings").prop('disabled', false);
            }
        })

        //view buildings relating to selected campus
        $("#btnViewBuildings").click(function () {
            var target = '/Venue/getBuildings/?id=' + $("#campusTable tbody tr.alert-info").prop('id');
            $("#buildings").load(target);
            $("#buildings").show();
            $("#toggleCampus").hide(800);
            $("#campusSummary").text("Select Campus: " + $("#campusTable tbody tr.alert-info").find('td:eq(0)').text());
            $("#buildingFloors").hide();
            $("#venues").hide();
        })

        //add campus modal
        $('#btnAddCampus').on('click', function () {
            var target = '/Venue/addCampus'

            $("#myModal .modal-body").load(target, function () {
                $("#myModal").modal("show");
            });
        });

        //delete campus modal
        $("#btnDeleteCampus").on('click', function () {

            var target = '/Venue/deleteCampus/?id=' + $("#campusTable tbody tr.alert-info").prop('id');

            $("#myModal .modal-body").load(target, function () {
                $("#myModal").modal("show");
            });
        })

        //cancel modal
        $("#btnCancel").click(function () {
            $('#myModal').modal('toggle');
        })

        //update campus 
        $("#btnUpdateCampus").on('click', function () {
            var target = '/Venue/updateCampus/?id=' + $("#campusTable tbody tr.alert-info").prop('id');

            $("#myModal .modal-body").load(target, function () {
                $("#myModal").modal("show");
            });
        })

        //select building from table and enable/disable buttons
        $(document).on("click", "#buildingTable tbody tr", function (e) {

            var selected = $(this).hasClass("alert-info");
            $("#buildingTable tbody tr").removeClass("alert-info");
            $("#btnUpdateBuilding").prop('disabled', true);
            $("#btnDeleteBuilding").prop('disabled', true);
            $("#btnViewBuildingFloors").prop('disabled', true)

            if (!selected) {
                $(this).addClass("alert-info");
                $("#btnUpdateBuilding").prop('disabled', false);
                $("#btnDeleteBuilding").prop('disabled', false);
                $("#btnViewBuildingFloors").prop('disabled', false);
            }
        })

        //select building from table and enable/disable buttons
        $(document).on("click", "#buildingFloorTable tbody tr", function (e) {

            var selected = $(this).hasClass("alert-info");
            $("#buildingFloorTable tbody tr").removeClass("alert-info");
            $("#btnUpdateBuildingFloor").prop('disabled', true);
            $("#btnDeleteBuildingFloor").prop('disabled', true);
            $("#btnViewVenues").prop('disabled', true)

            if (!selected) {
                $(this).addClass("alert-info");
                $("#btnUpdateBuildingFloor").prop('disabled', false);
                $("#btnDeleteBuildingFloor").prop('disabled', false);
                $("#btnViewVenues").prop('disabled', false);
            }
        })

        //select venue from table and enable/disable buttons
        $(document).on("click", "#venueTable tbody tr", function (e) {

            var selected = $(this).hasClass("alert-info");
            $("#venueTable tbody tr").removeClass("alert-info");
            $("#btnUpdateVenue").prop('disabled', true);
            $("#btnDeleteVenue").prop('disabled', true);

            if (!selected) {
                $(this).addClass("alert-info");
                $("#btnUpdateVenue").prop('disabled', false);
                $("#btnDeleteVenue").prop('disabled', false);
            }
        })

        //search campuses
        $("#btnSearchCampus").click(function () {
            $.ajax({
                type: 'GET',
                url: '/Venue/searchCampus',
                data: { search: $("#searchCampus").val() },
                success: function (result) {

                    $("#campusTable tbody").empty();
                    $("#campusTable thead").empty();

                    if (!$.isArray(result) || !result.length) {
                        $("#campusTable tbody").empty();
                        $("#campusTable thead").append('<tr><th>No Matching Campuses</th></tr>')
                        $("#campusResults").text("Results: '" + $("#searchCampus").val() + "'");
                        $("#searchCampus").val('');
                    } else {
                        $("#campusResults").text("Results: '" + $("#searchCampus").val() + "'");
                        $("#searchCampus").val('');
                        result.forEach(function (entry) {
                            $('#campusTable tbody').append('<tr id="' + entry.id + '"><td>' + entry.name + '</td></tr>');
                        });
                    }
                },
                error: function (err, result) {
                    alert("Error in assigning dataToSave" + err.responseText);
                }
            });
        })

        //laoding div
        var $loading = $('#loading').hide();
        $(document)
          .ajaxStart(function () {
              $loading.show();
          })
          .ajaxStop(function () {
              $loading.hide();
          });

        //loading div
        var opts = {
            lines: 13 // The number of lines to draw
        , length: 28 // The length of each line
        , width: 14 // The line thickness
        , radius: 42 // The radius of the inner circle
        , scale: 0.3 // Scales overall size of the spinner
        , corners: 1 // Corner roundness (0..1)
        , color: '#000' // #rgb or #rrggbb or array of colors
        , opacity: 0.25 // Opacity of the lines
        , rotate: 0 // The rotation offset
        , direction: 1 // 1: clockwise, -1: counterclockwise
        , speed: 1 // Rounds per second
        , trail: 60 // Afterglow percentage
        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
        , zIndex: 2e9 // The z-index (defaults to 2000000000)
        , className: 'spinner' // The CSS class to assign to the spinner
        , top: '50%' // Top position relative to parent
        , left: '50%' // Left position relative to parent
        , shadow: false // Whether to render a shadow
        , hwaccel: false // Whether to use hardware acceleration
        , position: 'absolute' // Element positioning
        }
        var target = document.getElementById('loading')
        var spinner = new Spinner(opts).spin(target);
    })
</script>