@model IEnumerable<LibraryAssistantApp.Models.VenueUsageModel>

@{
    ViewBag.Title = "Venue Usage Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/datatables.min.css" />
<script src="~/Scripts/DataTable/datatables.min.js"></script>

<div>
    <h2>Venue Usuage Report</h2>
    <button onclick="javascript:demoFromHTML()" class="btn btn-primary exp-fixed"><span class="fa fa-file-pdf-o"></span> Export PDF</button>
</div>
<hr />


<div class="row">
    <div class="col-md-12">
        <table id="report">
            <thead>
                <tr>
                    <th>Campus</th>
                    <th>
                        Building
                    </th>
                    <th>
                        Venue Name
                    </th>
                    <th>
                        Bookings Made
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.campus</td>
                        <td>@item.building</td>
                        <td>@item.venue.Venue_Name</td>
                        <td>@item.count</td>
                    </tr>

                }
            </tbody>
        </table>

        <hr />

    </div>
</div>



<iframe id="txtArea1" style="display:none"></iframe>

<script type="text/javascript">
    function fnExcelReport() {
        var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j = 0;
        tab = document.getElementById('report'); // id of table

        for (j = 0 ; j < tab.rows.length ; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }

        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
        }
        else                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

        return (sa);
    }
</script>

<script type="text/javascript">
    function demoFromHTML() {
        $('#report').tableExport({ type: 'pdf', escape: 'false', pdfFontSize: '7' });
    };

    $(document).ready(function () {
        //initiate datatable
        $('#report').DataTable();
    })
</script>






