@model IEnumerable<LibraryAssistantApp.Models.TrainingSessionAttendance>

@{
    ViewBag.Title = "Training Attendance Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/datatables.min.css" />
<script src="~/Scripts/DataTable/datatables.min.js"></script>

<div>
    <h2>Training Session Attendance Report</h2>
    <button onclick="javascript:demoFromHTML()" class="btn btn-primary exp-fixed" title="Export report to PDF"><span class="fa fa-file-pdf-o"></span> Export PDF</button>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h4 class="bg-info shaded">
            Attenance Report Details
        </h4>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-bordered" id="report" title="Attendance log results.">
                    <thead>
                        <tr class="shade-blue">
                            <th>
                                Training Session
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Venue Name
                            </th>
                            <th>
                                Attendance
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.training.Description</td>
                                <td>@item.training.DateTime_From.ToShortDateString()</td>
                                <td>@item.training.Venue.Venue_Name</td>
                                <td>@item.attended</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<iframe id="txtArea1" style="display:none"></iframe>

<script type="text/javascript">
    function fnExcelReport() {
        var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j = 0;
        tab = document.getElementById('report'); // id of table

        for (j = 0 ; j < tab.rows.length ; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }

        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
        }
        else                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

        return (sa);
    }
</script>

<script type="text/javascript">
    function demoFromHTML() {
        $('#report').tableExport({ type: 'pdf', escape: 'false', pdfFontSize: '7' });
    };

    $(document).ready(function () {
        //initiate datatable
        $('#report').DataTable();
    })
</script>



