@model LibraryAssistantApp.Models.EmployeeAddModel

<script>
    $(document).ready(function () {
        $('#btn-continue').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetRoles", "Employee")',
                beforeSend: function (){
                    $('.loading').show();
                },
                success: function (result) {
                    $('#get-roles').html(result);
                }
            }).done(function () {
                $('.loading').hide();
            });
        });
    });
</script>



<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input id="btn-continue" type="button" value="Submit" class="btn btn-default" />
    </div>
</div>