
@{
    ViewBag.Title = "Invalid Reset";
}

<h2>Reset Password</h2>

<div class="row">
    <div class="col-md-12 text-muted">
        <h4 class="bg-danger shaded">
            The password reset link you followed has either expired or is invalid
        </h4>
    </div>
</div>

