
@{
    ViewBag.Title = "Reset Password";
}

<h2>Password Reset</h2>

<div class="row">
    <div class="col-md-12 text-muted">
        <h4 class="bg-info shaded">
            You have been sent an email with a password reset link.
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-muted">
        <h4 class="bg-warning shaded">
            Follow the link to change your password.
        </h4>
    </div>
</div>

