body {
    padding-top: 51px;
    padding-bottom: 20px;
}

/*set padding to keep body below navbar !temporary fix*/
@media (max-width: 1447px) {
    body {
        padding-top: 101px;
    } 
}

/*set padding to keep body below navbar !temporary fix*/
@media (max-width: 1192px) {
    body {
        padding-top: 151px;
    } 
}

/*set padding to keep body below navbar !temporary fix*/
@media (max-width: 767px) {
    body {
            padding-top: 51px;
        } 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.no-border {
    border: 0;
    box-shadow: none;
}

table tbody tr :hover {
    cursor: pointer;
}

.my-error-class {
    color:red;
}

#loadingDiv{
  position:fixed;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  background-image:url('img/default.gif');
  background-repeat:no-repeat;
  background-position:center;
  z-index:10000000;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

/*temporary css for rtable rows*/
.selectedrow {
    background-color: #a4d4e6;
}

.loading {
    display:none;
    float: right;
}

.cursor:hover {
    cursor:pointer;
=======
/*cursor styling*/
.message {
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}
/*heading styling*/
.shaded {
    padding: 15px 0 15px 15px;
}