<?xml version="1.0" encoding="utf-8"?>
<settings>
  <scheduler>
    <time>18:00</time>
  </scheduler>
  <trainingduration>02:00</trainingduration>
  <trainingduration>02:30</trainingduration>
  <trainingduration>01:30</trainingduration>
  <trainingduration>00:30</trainingduration>
  <opentime>08:30</opentime>
  <closetime>18:00</closetime>
  <discussionduration>01:00</discussionduration>
  <discussionduration>01:30</discussionduration>
  <discussionduration>02:30</discussionduration>
  <discussionduration>00:30</discussionduration>
  <picture>C:\Users\Heyden\Documents\GitHub\370\LibraryAssistantApp\LibraryAssistantApp\img\image_1.jpg</picture>
  <picture>C:\Users\Heyden\Documents\GitHub\370\LibraryAssistantApp\LibraryAssistantApp\img\image_2.jpg</picture>
  <picture>C:\Users\Heyden\Documents\GitHub\370\LibraryAssistantApp\LibraryAssistantApp\img\image_3.jpg</picture>
  <picture>C:\Users\Heyden\Documents\GitHub\370\LibraryAssistantApp\LibraryAssistantApp\img\image_4.jpg</picture>
  <picture>C:\Users\Heyden\Documents\GitHub\370\LibraryAssistantApp\LibraryAssistantApp\img\image_5.jpg</picture>
  <picture>C:\Users\Heyden\Desktop\Mobile\370\LibraryAssistantApp\LibraryAssistantApp\img\image_to_up.jpg</picture>
  <discussionduration>03:00</discussionduration>
  <trainingduration>01:00</trainingduration>
  <trainingduration>04:00</trainingduration>
  <picture>C:\Users\Heyden\Desktop\Mobile\370\LibraryAssistantApp\LibraryAssistantApp\img\5P6R12c.png</picture>
</settings>