
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>About Us</title>
    <meta charset="iso-8859-1">
    <link rel="stylesheet" href="/Content/styles/layout.css" type="text/css">
    <!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="#">Library Assistant</a></h1>
                <h2>Department of Library services. University of Pretoria</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="http://localhost:52621/Home/Index">Library assistant Website</a></li>
                  
                </ul>
            </nav>
        </header>
    </div>
    <!-- content -->
    <div class="wrapper row2">
        <div id="container" class="clear">
            <!-- Slider -->
            <section id="slider" class="clear">
                <figure>
                    <img src="/Content/images/uni.png" alt="">
                    <figcaption>
                        <h2>Purpose</h2>
                        <p>
                            The library assistant focuses on making your library experience a great one for student and library staff alike. 
                            
                        </p>

                        <p>
                            Its main fucntions include:
                            <ul>
                                <li>Making bookings to discussion rooms online</li>
                                <li>Hosting and joining training sessions</li>
                                <li>Gather information through a feedback system</li>
                                
                            </ul>
                        </p>

                    </figcaption>
                </figure>
            </section>
            <!-- main content -->
            <div id="homepage">
                <!-- services area -->
                <section id="services" class="clear">
                    <!-- article 1 -->
                    <article class="one_third">
                        <h2>Training sessions</h2>
                        <img src="~/Content/images/TS.png" alt="">
                        <p>The library hosts free training sessions that students can attend to improve in areas like Referencing and Plagiarism. Student can find and book for these sessions at ease without going directly to the library. Students can also select which topics they are interested from the Library assistant and will be notified, via e-mail, when a training session for that topic arises.</p>
                        
                    </article>
                    <!-- article 2 -->
                    <article class="one_third">
                        <h2>Discussion room bookings</h2>
                        <img src="/Content/images/DR.png" alt="">
                        <p>There are discussion rooms within the library building that students can use to do group projects with the aid of screens, projectors and whiteboards. The library assistant makes it possible for students to book for a time slot to use the discussion rooms without going to the library and waiting in line to make a booking. Be more effective in group work. Book for a discussion room anytime, anywhere. </p>
                       
                    </article>
                    <!-- article 3 -->
                    <article class="one_third lastbox">
                        <h2>Feedback</h2>
                        <img src="~/Content/images/FB.png" alt="">
                        <p>The Library assistant introduces a feedback function that aquires information regarding library services, employees and more to be used by management to make the library a beter place and secure a greater, brighter future for it and all its students. Answer questionnaires easily and contribute to making UP the best it can be.  </p>
                       
                    </article>
                </section>
               
            </div>
            <!-- / content body -->
        </div>
    </div>
    <!-- Footer -->
    <div class="wrapper row3">
        <footer id="footer" class="clear">
            <p class="fl_left">© 2016 - UP Library Assistant</p>
            <p class="fl_right">Brought to you by Meraki</p>
        </footer>
    </div>
</body>
</html>
