@using LibraryAssistantApp.Models

@{
    ViewBag.Title = "Book Training Session";
    var categories = (IEnumerable<Category>)Session["categories"];
}
<a href="/help/booking.pdf" title="Page Help"><div class="btn-help"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span></div></a>
<h2>Book Training Session</h2>
<hr />
<h4 class="bg-info shaded">Provide training session details:</h4>
<div class="row">
    <div class="col-md-9 col-md-offset-1">
        <p class="text-muted"><b>Booking a training session</b>:</p>
        <ul style="padding-bottom:5px">
            <li><p class="text-muted">Select a training course category and topic.</p></li>
            <li><p class="text-muted">Choose a training session from the table.</p></li>
            <li><p class="text-muted">Click 'Book Training Session' button and confirm your booking.</p></li>
        </ul>            

        <h4 class="bg-warning shaded">Select a Category</h4>
        <div class="panel panel-default">
            <div class="panel-body">
            <select class="form-control" id="bkTrainingCat" title="Preferred training category.">
                    <option disabled selected>--select category--</option>
                    @foreach (var category in categories)
                    {
                        <option value="@category.Category_ID">@category.Category_Name</option>
                    }
                </select>

            </div>
        </div>

        <div id="topicToggle">
            <div id="topicPanel">
                <h4 class="bg-warning shaded">Select a Topic:</h4>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="text-info">No category selected.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="sessionToggle">
            <div id="bkTrainingBookings">
                <h4 class="bg-warning shaded">Available Training Sessions:</h4>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="text-info">No topic selected selected.</p>
                    </div>
                </div>
                <input class="btn btn-primary" id="btnBkTraining" type="button" value="Book Training Session" title="Book selected training selection" />
            </div>
        </div>
    </div>
</div>

<div id="confirmTrainingBooking"></div>

@section script{
    <script type="text/javascript">
        $(document).ready(function () {
            //$("#topicToggle").hide();
        })

        $("#bkTrainingCat").change(function () {
            var id = $("#bkTrainingCat").children(":selected").val();

            //$("#sessionToggle").hide(800);

            $.ajax({
                type: 'GET',
                url: '/Booking/getTopics',
                data: "id=" + id,
                success: function (result) {
                    $('#topicPanel').replaceWith(result);
                    $("#topicToggle").show();
                },
                error: function (err, result) {
                    alert("Error in assigning dataToSave" + err.responseText);
                }
            });
        })

        function getTrainingBookingDetails() {

            //show bootbox dialog
            bootbox.confirm({
                title: "Confirm Booking",
                message: function () {
                    $(this).load('/Booking/confirmStudentTraining');
                },
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result)
                        studentBook();
                }
            });
        }

        //confirm booking
        function studentBook() {
            $.ajax({
                type: 'POST',
                url: '/Booking/captureStudentTraining',
                success: function (result) {
                    window.location.href = "/Booking/ViewBookings/";
                },
                error: function (err, result) {
                    alert("Error in assigning dataToSave" + err.responseText);
                }
            });
        };
    </script>
    }