@using LibraryAssistantApp.Models

@{ 
    var topics = (IEnumerable<Topic_Category>)TempData["matchingTopics"];
}

<div id="topicPanel">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Select A Topic</h4>

            <hr />

            @{
                if (topics.Any())
                {
                    <select id="bkTrainingTopic" class="form-control">
                        <option disabled selected value>--select topic--</option>
                        @foreach (var topic in topics)
                {
                            <option value="@topic.Topic_Seq">@topic.Topic.Topic_Name</option>
                        }
                    </select>
                }
                else
                {
                    <p>No Topics Available</p>
                }
            }
        </div>
    </div>
</div>
