@using LibraryAssistantApp.Models

@{ 
    var topics = (IEnumerable<Topic_Category>)TempData["matchingTopics"];
}

<div id="topicPanel">
    <h4 class="bg-warning shaded">Select A Topic:</h4>
    <div class="panel panel-default">
        <div class="panel-body">
            @{
                if (topics.Any())
                {
                    <select id="bkTrainingTopic" class="form-control" title="Preferred topic selection.">
                        <option disabled selected value>--select topic--</option>
                        @foreach (var topic in topics)
                {
                            <option value="@topic.Topic_Seq">@topic.Topic.Topic_Name</option>
                        }
                    </select>
                }
                else
                {
                    <p>No Topics Available</p>
                }
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#bkTrainingTopic").change(function () {
        var id = $("#bkTrainingTopic").children(":selected").val();

        $.ajax({
            type: 'GET',
            url: '/Booking/getAvailableTrainingSess',
            data: "id=" + id,
            success: function (result) {
                $('#bkTrainingBookings').replaceWith(result);
                $("#sessionToggle").show(800);

                $("#btnBkTraining").prop('disabled', true)
            },
            error: function (err, result) {
                alert("Error in assigning dataToSave" + err.responseText);
            }
        });
    })
</script>
