
@{
    ViewBag.Title = "ViewBookings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewBookings</h2>

@section script{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/Booking/getBookings',
                success: function (result) {
                    result.forEach(function (entry) {
                        var start = moment(entry.start).format('DD/MM/yyyy hh:mm');
                        var end = moment(entry.end).format('DD/MM/yyyy hh:mm');
                        alert(start + ' ' + end)
                    });
                    var eventsList = result;
                    $('#calendar').fullCalendar({
                        theme: true,
                        timezone: 'local',
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },

                        defaultView: 'month',
                        editable: false,
                        allDaySlot: false,
                        selectable: true,
                        slotMinutes: 30,
                        events: eventsList,
                    });

                },
                error: function (err, result) {
                    alert("Error in assigning dataToSave" + err.responseText);
                }
            });
            
        });
    </script>
}

<div id="calendar"></div>