@using LibraryAssistantApp.Models

@{ 
    var venue = (Venue)Session["venueSelect"];
}

<div id="detailsFour" class="row">

    <div id="headingFour" class="bg-warning shaded cursor"><span id="arrow" class="glyphicon glyphicon-triangle-bottom"></span><b>Addition Details:</b></div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form id="TformFour">
                <div class="col-md-12">
                    <p class="text-muted"><b>Instructions:</b></p>
                    <ul class="text-muted" style="padding-bottom:10px">
                        <li>Enter additional training session details below.</li>
                        <li>Select recurring option if desired.</li>
                        <li>Click the 'Submit' button to finalise the training session booking.</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <table id="additionalTable">
                        <tr>
                            <td><b>Description:</b></td>
                            <td style="padding-left:10px; padding-bottom:15px" s><input title="Enter training session description." type="text" class="form-control" required id="description" placeholder="--enter description--" name="description" /></td>
                        </tr>
                        <tr>
                            <td><b>Maximum Attendees:</b></td>
                            <td style="padding-left:10px; padding-bottom:15px"><input title="Enter training session maximum attendance." type="number" min="1" max="@venue.Capacity" required id="attendence" class="form-control" placeholder="-- enter max attendees --" value="@venue.Capacity" name="attendance" /></td>
                        </tr>
                        <tr>
                            <td><b>Confirmation Status:</b></td>
                            <td style="padding-left:10px; padding-bottom:15px">
                                <select id="confirmation" class="form-control" name="confirmation" required title="Select training session booking status.">
                                    <option disabled selected value>--select status--</option>
                                    <option value="Confirmed">Confirmed</option>
                                    <option value="Tentative">Tentative</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Privacy Status:</b></td>
                            <td style="padding-left:10px; padding-bottom:15px">
                                <select id="privacy" class="form-control" name="privacy" required title="Select training session privacy status.">
                                    <option disabled selected value>--select privacy status--</option>
                                    <option value="Public">Public</option>
                                    <option value="Private">Private</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Notify Students of Training Session Addition</b></td>
                            <td style="padding-left:10px; padding-bottom:15px">
                                <select id="notify" class="form-control" name="notify" required title="Select training session notification status.">
                                    <option disabled selected value>--select notificaiton--</option>
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Repeat Type
                    </div>
                    <div class="panel-body">
                        <select id="repeat" class="form-control" onchange="getRepeatType()" title="Select repeat type.">
                            <option value="none">None</option>
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="yearly">Yearly</option>
                        </select>

                        <div id="repeatToggle" style="display:none">
                            <hr />

                            <div class="" id="repeatTimesPanel">
                                <text class="control-label">Booking Instances</text>
                                <input type="number" class="form-control" min="1" max="54" id="repeatTimes" onkeyup="checkRepeat()" onmouseup="checkRepeat()" title="Enter the amount of booking instances preferred."/>

                                <div style="display:none" id="repeatErrorDiv" class="text-center">
                                    <hr />
                                    <span id="repeatError"></span><text id="repeatText" class="success text-center"></text>
                                    <hr />
                                    <button class="btn btn-primary" id="viewClashes" hidden title="View bookings that are clashing with recurring instances."><span class="fa fa-search"></span> View Clashes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-md-offset-5">    <input id="trainingProFour" type="button" class="btn btn-primary" value="Finalise Training Session" onclick="submitTrainingSession()" /> </div>  
</div>

<script type="text/javascript">
    //initiate validation
    $("#TformFour").validate({
        errorClass: "my-error-class",
    })

    //toggle the repeat type
    function getRepeatType() {
        var id = $("#repeat").children(":selected").val();
        $("#repeatErrorDiv").hide(800);
        if (id == "none") {
            $("#repeatToggle").hide(800);
        } else {
            $("#repeatToggle").show(800);
        }

    }

    //check if the repeat type is valid
    function checkRepeat() {
        var repeatType = $("#repeat").children(":selected").val();
        var multiple = $("#repeatTimes").val();

        if (multiple > 0) {
            $.ajax({
                type: 'GET',
                url: '/Trainer/reapeatCheck',
                data: {
                    repeatType: repeatType,
                    multiple: multiple
                },
                success: function (result) {
                    if (result == "True") {
                        $("#repeatErrorDiv").show();
                        $("#repeatError").removeClass("glyphicon glyphicon-remove")
                        $("#repeatError").addClass("glyphicon glyphicon-ok")
                        $("#repeatText").text(" No Clashes Detected")
                        $("#viewClashes").hide();
                    } else {
                        $("#repeatErrorDiv").show();
                        $("#repeatError").removeClass("glyphicon glyphicon-ok")
                        $("#repeatError").addClass("glyphicon glyphicon-remove")
                        $("#repeatText").text(" Clashes Detected")
                        $("#viewClashes").show();
                    }
                },
                error: function (err, result) {
                    alert("Error in assigning dataToSave" + err.responseText);
                }
            });
        }
    }

    //view clashes
    $("#viewClashes").click(function () {
        var target = '/Trainer/viewClashes';
        $("#myModal .modal-content").load(target, function () {
            $("#myModal").modal("show");
        });
    })

    //submit the details for the training session
    function submitTrainingSession() {
        //submit the form details
        if ($("#TformFour").valid()) {
            var repeat;
            if ($("#repeatError").hasClass("glyphicon-remove") && $("#repeatType").children(":selected").val() != "none") {
                if (confirm("Clash booking detected, you can continue with your booking but the booking won't recur as requested. Would you like to continue?") == true) {
                    repeat = "none";
                    $.ajax({
                        type: 'GET',
                        url: '/Trainer/captureTrainingSession',
                        data: {
                            description: $('#description').val(),
                            maxAtt: $("#attendence").val(),
                            confirmation: $("#confirmation").val(),
                            privacy: $("#privacy").val(),
                            notify: $("#notify").val(),
                            repeatType: repeat,
                            multiple: $("#repeatTimes").val(),
                        },
                        success: function (result) {
                            window.location.href = "/Trainer/manageTrainingSession"
                        },
                        error: function (err, result) {
                            alert("Error in assigning dataToSave" + err.responseText);
                        }
                    });
                }
                else return;

            } else {

                repeat = $("#repeat").children(":selected").val();
                $.ajax({
                    type: 'GET',
                    url: '/Trainer/captureTrainingSession',
                    data: {
                        description: $('#description').val(),
                        maxAtt: $("#attendence").val(),
                        confirmation: $("#confirmation").val(),
                        privacy: $("#privacy").val(),
                        notify: $("#notify").val(),
                        repeatType: repeat,
                        multiple: $("#repeatTimes").val(),
                    },
                    success: function (result) {
                        window.location.href = "/Trainer/manageTrainingSession"
                    },
                    error: function (err, result) {
                        alert("Error in assigning dataToSave" + err.responseText);
                    }
                });
            }
        }
    }
</script>
