@model LibraryAssistantApp.Models.CategoryModel

@{
    ViewBag.Title = "Training Categories";
}

<h2>Categories</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <p class="text-muted"><b>Instructions:</b></p>
        <ul class="text-muted" style="padding-bottom:10px">
            <li>Select an existing category to view available actions or add a new category.</li>
            <li>Select a category and perform the action of choice.</li>
        </ul>
        <h4 class="bg-info shaded">Manage categories:</h4>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.categoryName, htmlAttributes: new {})
                    <div>
                        @Html.ListBox("Category_ID", null, htmlAttributes: new { @class = "form-control", @id = "categoryList", @size="8", @style="max-width=600px; width=600px", @title="List of categories." })
                        @Html.ValidationMessageFor(model => model.categoryName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" id="btnAddCat" class="btn btn-primary" value="Add Category" title="Add a new category."/>
                <input type="submit" id="btnUpdateCat" class="btn btn-primary" value="Update Category" title="Update an existing category."/>
                <input type="submit" id="btnDeleteCat" class="btn btn-primary" value="Delete Category" title="Delete a category."/>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function ()
        {
            //disable update and delete buttons on page load
            $("#btnUpdateCat").prop('disabled', true);
            $("#btnDeleteCat").prop('disabled', true);

            //enable update and add buttons on category selection
            $("#categoryList").change(function () {
                $("#btnUpdateCat").prop('disabled', false);
                $("#btnDeleteCat").prop('disabled', false);
            });

            //go to add category form on add click
            $("#btnAddCat").click(function () {
                window.location.href = "/Trainer/addCategory"
            });

            //go to update category on update click
            $("#btnUpdateCat").click(function () {
                var id = $("#categoryList").children(":selected").val();
                window.location.href = "/Trainer/updateCategory/?id=" + id;
            });

            //go to delete category on delete click
            $("#btnDeleteCat").click(function () {
                var id = $("#categoryList").children(":selected").val();
                window.location.href = "/Trainer/deleteCategory/?id=" + id;
            });
        })
</script>
