@using LibraryAssistantApp.Models

@{
    ViewBag.Title = "View Tutorials";
    Layout = (string)Session["layout"];
}

<h2>View Tutorials</h2>
<hr />

@{
    Html.RenderAction("GetTypes", "Repository");
}