

@{
    ViewBag.Title = "Error";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Oops! - Error Occurred</title>
    <meta name="description" content="">
    <meta name="author" content="Padmanaban, Mine Web Design">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/404_normalize.css">
    <link rel="stylesheet" href="~/Content/404_style.css">

</head>
<body>
    <div class="row">
        <div class="container">
            <h1 class="title">Oops!</h1>
            <p class="sub-heading"> Something Went Wrong</p>
            <hr class="hr-style-404" />
            <a href="http://localhost:52621/Home/Index">Go Back Home</a>
        </div>
    </div>
    <!-- Copyrights by Mine Web Design-->
</body>
</html>

