
@{
    ViewBag.Title = "Come_Back";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
   function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
</script>

<h2>Come_Back</h2>

