
@{
    ViewBag.Title = "Edit_Some_More";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Would you like to edit associated qusetions of this topic?</h2>

<input type="submit" value="Yes" class="btn btn-default" onclick="location.href='@Url.Action("Index","Question_Bank",new {ViewBag.Topic})'"/> <input type="button" value="No" class="btn btn-default" onclick="location.href='@Url.Action("Index","Question_Topic")'" />            
